body{
  border:0;
  margin: 0;
}
button:hover {
  transform: translateY(4px);
  box-shadow: 4px 4px #000407;
  cursor: pointer;
}

ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}


.buttons-container{
  margin-left: 2.6rem;
}