.family-name-button {
  padding: 1%;
  margin: 1%;
  font-size: 1rem;
  color: #020e18;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  background: linear-gradient(to top, rgba(12, 170, 218, 0.333), #64a8e0);
}

.active-family-button{
  background: linear-gradient(to top, rgba(4, 64, 82, 0.333), #0481e7);
  padding: 1%;
  margin: 1%;
  font-size: 1rem;
  color: #020e18;
  cursor: pointer;
  border-radius: 10px;
  border: none;
}