.header-container {
  background-image: linear-gradient(
    to right,
    rgb(130, 197, 230),
    rgba(139, 94, 223, 0.533)
  );
  padding: 5%;
  color: aliceblue;
  text-align: center;
}

.user-input {
  height: 2rem;
  width: 30%;
  font-size: 1rem;
  border-radius: 10px;
  padding: 1%;
}

.main-heading{
  font-weight: bold;
  font-size: 2.5rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}