.person-item {
  padding: 2%;
  background-color: rgb(153, 201, 226);
  text-align: center;
  margin: 1%;
  width: 10%;
  border-radius: 15px;
}

.person-item:hover {
  transform: translateY(4px);
  box-shadow: 4px 4px #000407;
  cursor: pointer;
}

.profilePic {
  border-radius: 50px;
}

.person-name-header {
  font-size: 1rem;
}

.know-more-button {
  width: 90%;
  height: 15%;
  padding: 1%;
  margin: 1%;
  font-size: 1rem;
  color: #020e18;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  background: linear-gradient(to top, rgba(12, 170, 218, 0.333), #64a8e0);
}

a {
  padding: 1rem, 2rem, 1rem, 2rem;
  color:#000407;
  text-decoration: none;
}